<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Palsound</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="manifest" href="/js/manifest.json">

    <!-- Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Palsound">
    <link rel="apple-touch-icon" href="images/logo.png">
  </head>

  <body>
    <div class="grid-container">
      <%
        info = get_flash(@conn, :info)
        alert = get_flash(@conn, :error)
      %>

      <br />

      <%= cond do %>
        <% info -> %>
          <p class="callout success" alert="role"><%= get_flash(@conn, :info) %></p>
        <% alert -> %>
          <p class="callout alert" alert="role"><%= get_flash(@conn, :error) %></p>
        <% true -> %>
          <%= nil %>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
