body {
  background-color: #e6ecf8;
}

#logo_cd {
  -webkit-transform:rotate(295deg);
  -moz-transform: rotate(295deg);
  -ms-transform: rotate(295deg);
  -o-transform: rotate(295deg);
  transform: rotate(295deg);
  width: 79%;
  margin-top: -8%;
  margin-bottom: -7%;
}
