<div class="form-group">
  <%= form_for @conn, song_process_path(@conn, :process_songs), [as: :song], fn f -> %>
    <%= text_input f, :search, class: 'form-control', placeholder: "Type the playlist id" %>

    <%= submit "Search" %>
  <% end %>
</div>
